// VARIABLES //
// Color Scheme
// First Color Scheme
$white: #FFF;

// Second Color Scheme
$smoky-black: #0c0910;
$granite-gray: #646266;
$light-gray: #a6a5a8;

// Third Color Scheme
$before-blue: #99e5f4;
$after-blue: #2ce5f4;


// Forth Color Scheme
$before-orange: #ff8f8c;
$after-orange: #ff140e;


//Font Family
$poppins: 'Poppins', sans-serif;

// Font Weight
$extra-light:200;
$flight: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;

// FONT SIZE //
$xxxx-large: 8.125rem;
$xxx-large: 3.125rem;
$xx-large: 1.875rem;
$x-large: 1.25rem;
$large: 1.125rem;
$medium: 1rem;
$small: 0.875rem;
$x-small: 0.75rem;