header {
    background-color: white;
    background-image: url("/assets/img/bg-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
    height: 20vh;
}
